/* CSS pour la barre de navigation */
.navbar {
    background-color: #333; /* Couleur de fond */
    padding: 10px; /* Espacement intérieur */
}

.menu {
    list-style-type: none; /* Supprimer les puces */
    margin: 0; /* Supprimer les marges */
    padding: 0; /* Supprimer les espacements intérieurs */
}

.menu li {
    display: inline-block; /* Afficher les éléments côte à côte */
    margin-right: 10px; /* Espacement entre les éléments */
}

.menu li a {
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignage des liens */
    padding: 5px 10px; /* Espacement intérieur */
}

/* CSS pour le pied de page */
footer {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Espacement intérieur */
    position: fixed; /* Position fixe en bas de la page */
    width: 100%; /* Largeur de 100% */
    bottom: 0; /* Alignement en bas */
}
